// Data-Tables
//
// TABLES

@use 'colours';
@use 'base-type';



.table td, .table th {
    vertical-align: middle;
}
.table thead th {
    height: 3em;
    vertical-align: middle;
}
.table tbody tr {
    height: 3em;
}

//Reset Filters

.toolbar {
    float:left;
}
.toolbar button.btn-primary {
    background-color: colours.$interactive-1;
    color: colours.$ui-01;
    height: 3em;
    width: 12em;
    padding: 1em 4em 1em 1em;
    margin-right: 0.5em;
    position: absolute;
    left: calc(100vw - 37.5em );
    top: 16.70em;
}

//Export Buttons
.dt-buttons {
    float: right;
}
.dt-button {
    border: none;
    height: 3em;
    background-color: colours.$interactive-2;
    color: colours.$ui-01;
    border-radius: 0;
    padding: 1em 4em 1em 1em;
    text-align: left;
    width: 12em;
    position: relative;


}

.data-tables-action {
    float: right;
    background-color: colours.$interactive-1;
    color: colours.$ui-01;
    height: 3em;
    min-width: 12em;
    padding: 0.7em 4em 1em 1em;

}

.data-tables-action.add-item {
    background-image: url('/img/add-white.svg');
    background-size: 5%;
    background-position-x: 90%;
    background-position-y: center;
    background-repeat: no-repeat;
}


//Search Field
.dataTables_filter input.form-control {
    width: 50vw;
    font-size: 1rem;
    height: 3em;
    border-radius: 0;
    float: left;
    position: absolute;
    left: 1rem;
    top: 16.7rem;
    display: block;
}


//----Tables Pagination

.dataTables_info {
    float: left;

}

.dataTables_paginate {
    float: right;
    position: relative;
    top: -18px;
    left: -1rem;
}

.dataTables_paginate .pagination  {
    height: 4em;
}

.page-link {
    color: colours.$link-01;
}

.page-item.active .page-link {
    background-color: colours.$interactive-1;
    border-color: colours.$interactive-1;
}


.paginate_button a {
    height: 4em;
    width: 4em;
}


.paginate_button.next a{
    background-color: colours.$interactive-1;
    color: rgba(0,0,0,0);
    background-image: url('/img/chevron--right.svg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.paginate_button.previous a {
    background-image: url('/img/chevron--left.svg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}


.page-item:first-child .page-link, .page-item:last-child .page-link {
    border-radius: 0;
    color: rgba(0,0,0,0);
}





//Edit Buttons

td a.btn-primary {
    background-image: url('/img/edit-icon.svg');
    background-repeat: no-repeat;
    background-size: 1.5rem 1.5rem;
    color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    background-position-x: center;
    background-position-y: center;
    border-color: rgba(0,0,0,0);
    width: 3em;
    height: 3em;
}

td a.btn-primary:hover {
    background-color: colours.$ui-04;
    color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
}

//Delete Buttons

td a.btn-primary.delete {
    background-image: url('/img/trash-can.svg');
    background-repeat: no-repeat;
    background-size: 1.5rem 1.5rem;
    color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    background-position-x: center;
    backgorund-position-y: center;
    border-color: rgba(0,0,0,0);
    width: 3em;
    height: 3em;
}

td a.btn-primary.delete:hover {
    background-color: colours.$hover-danger;
}

//View Buttons
td a.btn-primary.view {
    background-image: url('/img/view.svg');
    background-repeat: no-repeat;
    background-size: 1.5rem 1.5rem;
    color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    background-position-x: center;
    background-position-y: center;
    border-color: rgba(0,0,0,0);
    width: 3em;
    height: 3em;
}

td a.btn-primary.view:hover {
    background-color: colours.$ui-04;
    color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
}


//Filter Dropdowns

.dataTable thead select {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid colours.$ui-04;
    height: 3em;
    appearance: none;
    min-width: 4em;
    background-image: url('/img/chevron-down.svg');
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position-x: calc(100% - 0.5em);
    background-position-y: center;
    background-color: colours.$ui-03;
    font : {
        family: base-type.$primary-font-family;

    }
}


// CAUTION: Wack-ass IE hackery ahead
.dataTable thead select::-ms-expand {
    display: none;
}
@media screen and (min-width:0\0) {
    .dataTable thead select {
        background: none\9;
        padding: 5px\9;
    }
}
