
@use 'colours';
@use 'base-type';

//Components
@use 'global-nav';
@use 'datatables';

body {
    background-color: colours.$ui-01;
}

//Buttons
.btn-primary {
    background-color: colours.$interactive-1;
    border-color: colours.$interactive-1;
}

.btn {
    border-radius: 0;
    text-align: left;
    min-width: 4em;
}


footer {
    height: 160px;
    background-color: colours.$ui-05;
    margin-top: 6rem;
}
