
//ALL THE VARS

//Colours
$primary-50 : '';
$primary-100 : '';
$primary-200 : '';
$primary-300 : '';
$primary-400 : '';
$primary-500 : '';
$primary-600 : '';
$primary-700 : '';
$primary-800 : '';
$primary-900 : '';


$secondary-50 : '';
$secondary-100 : '';
$secondary-200 : '';
$secondary-300 : '';
$secondary-400 : '';
$secondary-500 : '';
$secondary-600 : '';
$secondary-700 : '';
$secondary-800 : '';
$secondary-900 : '';

$primary-font-family : 'Noto Sans JP';
$heading-font-family : 'Noto Sans JP';



//Core Styles


//TYPE

.label-01 {
    font: {
        family: $primary-font-family;
        size: 0.75rem;
        weight: 400;
    }
    line-height: 1em;
    letter-spacing: 0.32px;
}

.helper-text-01 {
    font: {
        family: $primary-font-family;
        size: 0.75rem;
        weight: 400;
    }
    line-height: 1em;
    letter-spacing: 0.32px;
}

.body-short-01 {
    font: {
        family: $primary-font-family;
        size: 0.875rem;
        weight: 400;
    }
    line-height: 1.125em;
    letter-spacing: 0.16px;
}

.body-long-01 {
    font: {
        family: $primary-font-family;
        size: 0.875rem;
        weight: 400;
    }
    line-height: 1.25em;
    letter-spacing: 0.16px;
}

.body-short-02 {
    font: {
        family: $primary-font-family;
        size: 1rem;
        weight: 400;
    }
    line-height: 1.5em;
}

.productive-heading-01 {
    font: {
        family: $heading-font-family;
        size: 0.875rem;
        weight: 500;
    }
    line-height: 1.125em;
    letter-spacing: 0.16px;
}

.productive-heading-02 {
    font: {
        family: $heading-font-family;
        size: 1rem;
        weight: 500;
    }
    line-height: 1.375em;
}
.productive-heading-03 {
    font: {
        family:   $heading-font-family;
        size:   1.25rem;
        weight: 400;
    }
    line-height: 1.75em;
    letter-spacing: 0px;
}
.productive-heading-04 {
    font: {
        family:   $heading-font-family;
        size:   1.75rem;
        weight: 400;
    }
    line-height: 2.25em;
    letter-spacing: 0px;
}
.productive-heading-05 {
    font: {
        family:   $heading-font-family;
        size:   2rem;
        weight: 400;
    }
    line-height: 2.5em;
    letter-spacing: 0px;
}
.productive-heading-06 {
    font: {
        family:   $heading-font-family;
        size:   2.625rem;
        weight: 300;
    }
    line-height: 3.125em;
    letter-spacing: 0px;
}
.productive-heading-07 {
    font: {
        family:   $heading-font-family;
        size:   3.375rem;
        weight: 300;
    }
    line-height: 4em;
    letter-spacing: 0px;
}


//Global Nav
body {
    font: {
        family: $primary-font-family;
        size: 16px;
        weight: 400
    }
}

.navbar {
    height: 3em;
}

.navbar-brand {
    font: {
        family: $primary-font-family;
        size: 1.2rem;
    }
    padding-left: 1rem;
    padding-right: 2rem;
}

.nav-item {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0;
}

.navbar-dark {
    background-color: rgba(0,0,0,.87);
    font: {
        family: $primary-font-family;
        weight: 400;
        size: 0.875rem;
    }
}

