.toolbar {
    display: flex;
    justify-content: space-between;
}



#lsa-registrations_filter {
    width: 100%;
}

#lsa-registrations select {
    margin-bottom: 0rem;
    padding-right: 0rem;
    padding: 0.2rem 0.2rem;
    height: 2rem;
}

#data-table-1 select {
     margin-bottom: 0rem;
     padding-right: 0rem;
     padding: 0.2rem 0.2rem;
     height: 2rem;
 }

.dataTables_wrapper .dataTables_filter input {
    margin-left: 0em;
}

.datatable-container {
    padding-bottom: 15px;
}

#lsa-registrations th {
    border-bottom: 0px;
}


#dateFilter {
    width: 50%;
}


table.dataTable .dtrg-group {
    background-color: lightgray;
}

table.dataTable .lsa-totals-column {
    text-align: right;
}

table.dataTable .lsa-totals-column-highlight {
    text-align: right;
    background-color: lightgray;
}
