
//ALL THE VARS

//Colours
$ui-background : '';
$ui-01 : #F4F4F4;
$ui-02 : #FFFFFF;
$ui-03 : #e0e0e0;
$ui-04 : #8d8d8d;
$ui-05 : #161616;

$interactive-1 : #0f62fe;
$interactive-2 : #393939;
$interactive-3 : #0f62fe;
$interactive-4 : #0f62fe;

$text-01 : #161616;
$text-02 : #393939;
$text-03 : #a8a8a8;
$text-05 : #6f6f6f;

$link-01 : #0f62fe;

$icon-01 : #161616;
$icon-02 : #525252;
$icon-03 : #FFFFFF;

$field-01 : #F4F4F4;
$field-02 : #FFFFFF;

$inverse-01: #FFFFFF;
$inverse-02: #393939;

$support-01 : #da1e28;
$support-02 : #24a148;
$support-03 : #f1c21b;
$support-04 : #0043ce;

$inverse-support-01 : #FA4D56;
$inverse-support-02 : #42BE65;
$inverse-support-03 : #F1C21B;
$inverse-support-04 : #4589FF;

$inverse-link : #78A9FF;
$overlay-01 : #161616;

$danger : #da1e28;

$focus : #0F62FE;
$hover-primary : #0353e9;
$hover-primary-text : #054ADA;
$hover-secondary : #4C4C4C;
$hover-tertiary : #0353E9;
$hover-ui : #E5E5E5;
$hover-danger : #BA1B23;
$active-primary : #002D9C;
$active-secondary : #6F6F6F;
$active-tertiary : #002D9C;
$active-ui : #C6C6C6;
$active-danger : #750E13;

$selected-ui : #E0E0E0;
$highlight : #D0E2FF;

$visited-link : #8a3FFC;

$disabled-01 : #F4F4F4;
$disabled-02 : #C6C6C6;
$disabled-03 : #8D8D8D;

$skeleton-01 : #E5E5E5;
$skeleton-02 : #C6C6C6;

$hover-selected-ui : #CACACA;
$inverse-hover-ui : #4C4C4C;
$inverse-focus-ui : #FFFFFF;


$gray-100 : #161616;
$gray-10 : #f3f3f3;
$gray-90 : #262626;





$primary-font-family : 'Noto Sans JP';
$heading-font-family : 'Noto Sans JP';



//Core Styles

body {
    background-color: $gray-10;
}

//TYPE

.label-01 {
    font: {
        family: $primary-font-family;
        size: 0.75rem;
        weight: 400;
    }
    line-height: 1em;
    letter-spacing: 0.32px;
}

.helper-text-01 {
    font: {
        family: $primary-font-family;
        size: 0.75rem;
        weight: 400;
    }
    line-height: 1em;
    letter-spacing: 0.32px;
}

.body-short-01 {
    font: {
        family: $primary-font-family;
        size: 0.875rem;
        weight: 400;
    }
    line-height: 1.125em;
    letter-spacing: 0.16px;
}

.body-long-01 {
    font: {
        family: $primary-font-family;
        size: 0.875rem;
        weight: 400;
    }
    line-height: 1.25em;
    letter-spacing: 0.16px;
}

.body-short-02 {
    font: {
        family: $primary-font-family;
        size: 1rem;
        weight: 400;
    }
    line-height: 1.5em;
}

.productive-heading-01 {
    font: {
        family: $heading-font-family;
        size: 0.875rem;
        weight: 500;
    }
    line-height: 1.125em;
    letter-spacing: 0.16px;
}

.productive-heading-02 {
    font: {
        family: $heading-font-family;
        size: 1rem;
        weight: 500;
    }
    line-height: 1.375em;
}
.productive-heading-03 {
    font: {
        family:   $heading-font-family;
        size:   1.25rem;
        weight: 400;
    }
    line-height: 1.75em;
    letter-spacing: 0px;
}
.productive-heading-04 {
    font: {
        family:   $heading-font-family;
        size:   1.75rem;
        weight: 400;
    }
    line-height: 2.25em;
    letter-spacing: 0px;
}
.productive-heading-05 {
    font: {
        family:   $heading-font-family;
        size:   2rem;
        weight: 400;
    }
    line-height: 2.5em;
    letter-spacing: 0px;
}
.productive-heading-06 {
    font: {
        family:   $heading-font-family;
        size:   2.625rem;
        weight: 300;
    }
    line-height: 3.125em;
    letter-spacing: 0px;
}
.productive-heading-07, .page-title{
    font: {
        family: $heading-font-family;
        size:   3.375rem;
        weight: 300;
    }
    line-height: 4em;
    letter-spacing: 0px;
}


//Global Nav
body {
    font: {
        family: $primary-font-family;
        size: 16px;
        weight: 400
    }
}

.navbar {
    height: 3em;
}

.navbar-brand {
    font: {
        family: $primary-font-family;
        size: 1.2rem;
    }
    padding-left: 1rem;
    padding-right: 2rem;
}

.nav-item {
   padding-left: 0.875em;
   padding-right: 0.875em;
    color: $ui-01;

}


.navbar-dark {
    background-color: $gray-100;
    font: {
        family: $primary-font-family;
        weight: 400;
        size: 0.875rem;
    }
}

.dropdown-menu {
    background-color: $gray-100;

}
.dropdown-item {
    font: {
        weight: 400;
        size: 0.875rem;
    }
    color: $gray-10;
    background-color: $gray-90;
}
.dropdown-item:hover {
    color: $gray-10;
    background-color: rgb(68,68,68);
}

//PAGE HEAD

.page-title {
    margin-left: 1rem;

}

//Tables

th {
    background-color: $ui-01;
    height: 3rem;
    font: {
        size: 1.1em;
    }
}

.dataTables_filter input {
    height: 2.5rem;
    border: 1px solid;
}

table .odd td{
  background-color: $gray-10;
    border-bottom: 8px solid $gray-10;
}
tr {
    border: none;
}
table .even td {
    border-bottom: 1px solid $gray-10;
}

tr td{
    height: 4em;
    border: 0px solid rgb(0,0,0,0);
}


//Buttons

button.btn {
    border-radius: 0;
    padding: 1em 4em 1em 1em;
    text-align: left;
    min-width: 4em;
}

button.dt-button {
    border-radius: 0;
    padding: 1em 4em 1em 1em;
    text-align: left;
    min-width: 4em;
}
