
@use 'colours';
@use 'base-type';

//Components
@use 'global-nav';
@use 'datatables';

body {
    background-color: colours.$ui-01;
}

//Buttons
.btn-primary {
    background-color: colours.$interactive-1;
    border-color: colours.$interactive-1;
}

.btn {
    border-radius: 0;
    text-align: left;
    min-width: 4em;
}


footer {
    height: 160px;
    background-color: colours.$ui-05;
    margin-top: 6rem;
}


select.with-arrow {
    -moz-appearance: auto;
    -webkit-appearance: auto;
}

.checkbox-group {
    padding-left: 2em;
}

h3.award-title {
    margin-top: 0.5em;
}


p.confirmationValue {
    border-bottom: 1px solid;
    border-color: colours.$interactive-1;
    background-color: colours.$gray-10;
    font-size: 22px;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.1em;

}
div.confirmationGroup {
    padding-left: 1em;
    margin-top: 1em;
}
div.confirmationGroup h4 {
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1.5em;
}

