.top-nav {
  margin: 0 auto 0 auto;
  background-color: #003366;
}

.top-nav a {
  color: white;
}

#page-footer {
  background-color: black;
}

#home-header-container {
  position: relative;
  text-align: center;
  color: white;
  background-color: black;
}

#home-header-container img {
  opacity: 40%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lsa-logo {
    width: 80px;
}


#home-page .info-text {
  background-color: black;
  color: white;
}

.info-text {
  padding: 15px;
  text-align: center;
}

.info-text h2 {
  margin: auto;
}

.info-text p {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto;
}

#ceremony-schedule,
#ceremony-dinner,
#travel-policy {
  display: flex;
  flex-direction: row;
}

#lsa-contact-info {
    padding-top: 35px;
}


#lsa-award-card {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-bottom: 15px;
}

#lsa-award-image-container  img {
    max-width: 300px;
}

#lsa-award-description-container {
    padding-left: 10px;
}


.lsa-errors-container {
    padding: 20px;
    color: red;
}


#donation-type {
    border: 0.1rem solid #d1d1d1;
    border-radius: .4rem;
    padding: 20px;
    margin-bottom: 15px;
}

#pop-up-errors {
    padding: 15px;
}


label {
    font-size: 1em;
    margin-bottom: .5em;
}

#lsa-registration-nav {
    padding-bottom: 25px;
}


textarea#description {
    height: 250px;
}

.message {
    margin: 10px;
}

